<p>appheader works!</p>
<table>
    <tr>
        <th>Brand</th>
        <th>Stock</th>
        <th>Operation</th>
    </tr>
    <tr *ngFor="let cycle of cycles">
        <td>{{cycle.brand}}</td>
        <td>{{cycle.stock-cycle.numBorrowed}}</td>
        <td>
            <form method="post">
                <input type="text" name="borrownumber" #Number>
                <input type="button" value="addToCart" (click)="onAddToCart(cycle.id,Number.value)">
                <input type="button" value="restock" (click)="onRestock(cycle.id,Number.value)">
                <input type="button" value="return" (click)="onReturn(cycle.id,Number.value)">
             
            </form>
        </td>
    </tr>
</table>